<!DOCTYPE html>
<html>

<head>
  <title>Sikeres rendelés</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.rtl.min.css"
    integrity="sha384-CfCrinSRH2IR6a4e6fy2q6ioOX7O6Mtm1L9vRvFZ1trBncWmMePhzvafv7oIcWiW" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h1>Köszönjük, <%= name %>!</h1>
    <p>A rendelésed sikeresen beérkezett.</p>
    <a href="/" class="btn btn-primary">Vissza a főoldalra</a>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5n9nH9z8j9m5W8j5J+OWQ6pq9vJzzW5n9i5N5E9"
    crossorigin="anonymous"></script>
</body>

</html>
